html {
    height: 100%;
    width: 100%;
    font-size: 12px;
    color: black;
    line-height: 1;
    display: block;
    background-color: #D6E6F7
}


button {
    cursor: pointer;
}

.header {
    padding-top: 30px;
    text-align: center;
}

.wrapper {
    max-width: 1220px;
    margin: 0 auto;
    padding: 0 10px;
    font-size: 1.8rem;
}

.about_me {
    box-sizing: border-box;
}

.header .wrapper {
    display: flex;
}

.main {
    text-align: left;
    line-height: 0.5;
}

.item {
    background-color: #B8D6E0;
    padding: 5px;
    text-align: center;
}

.main_foto {
    margin-right: 100px;
}

.main_name {
    margin-bottom: 50px;
}
